# WARNING: Make your GitHub repo Private if you are using this as it is
# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!.gitignore
!.HA_VERSION
!*.js*
!*.md
!*.png
!*.sh
!*.yaml
!gitpush
!integrations
!screenshots

# Comment these 2 lines if you don't want to include your SSH keys
#!.ssh/
#!id_rsa*

# Comment this if you don't want to include your Node-RED flows.
# This is only valid if you install Node-RED as Home Assistant Add-on
#!node-red/

# Ignore these files/folders
.storage
.cloud
shopping_list.json
.google.token
govee_learning.yaml
home-assistant.log
integrations/beets.yaml
secrets.yaml
